In [ ]:
-- The students CSV file
SELECT * 
FROM 'students.csv';

In [2]:
-- Counting all of the records in the data
SELECT 
    COUNT(*) AS total_records
FROM students;

   total_records
0            286

In [3]:
-- Counting international and domestic students
SELECT 
    inter_dom, 
    COUNT(inter_dom) AS count_inter_dom
FROM students
GROUP BY inter_dom;

  inter_dom  count_inter_dom
0     Inter              201
1       Dom               67
2      None                0

In [4]:
-- Filter inter_dom
SELECT *
FROM students
WHERE inter_dom NOT LIKE 'D%' 
    AND inter_dom NOT LIKE 'I%' 
    OR inter_dom IS NULL;

   inter_dom region gender academic  ...  religion_bi  alone_bi  others_bi internet_bi
0       None   None   None     None  ...         None      None       None        None
1       None   None   None     None  ...           19        65         21          45
2       None   None   None     None  ...          249       203        247         223
3       None   None   None     None  ...         None      None       None        None
4       None   None   None     None  ...           19        65         21          45
5       None   None   None     None  ...          249       203        247         223
6       None   None   None     None  ...         None      None       None        None
7       None   None   None     None  ...         None      None       None        None
8       None   None   None     None  ...         None      None       None        None
9       None   None   None     None  ...         None      None       None        None
10      None   None   None     None  ...         None      None       None        None
11      None   None   None     None  ...         None      None       None        None
12      None   None   None     None  ...         None      None       None        None
13      None   None   None     None  ...         None      None       None        None
14      None   None   None     None  ...         None      None       None        None
15      None   None   None     None  ...         None      None       None        None
16      None   None   None     None  ...         None      None       None        None
17      None   None   None     None  ...         None      None       None        None

[18 rows x 50 columns]

In [5]:
-- Where are Int students from
SELECT 
    region, 
    COUNT(inter_dom) AS count_inter_dom
FROM students
WHERE inter_dom = 'Inter'
GROUP BY region;

   region  count_inter_dom
0     SEA              122
1      EA               48
2      SA               18
3  Others               11
4     JAP                2

In [6]:
-- Basic summary statistics 
SELECT 
	MIN(todep) AS min_phq,
	MAX(todep) AS max_phq,
	ROUND(AVG(todep), 2) AS avg_phq,
	MIN(tosc) AS min_tosc,
	MAX(tosc) AS max_tosc,
	ROUND(AVG(tosc), 2) AS avg_tosc,
	MIN(toas) AS min_toas,
	MAX(toas) AS max_toas,
	ROUND(AVG(toas), 2) AS avg_toas,
FROM students;

   min_phq  max_phq  avg_phq  min_tosc  ...  avg_tosc  min_toas  max_toas  avg_toas
0      0.0     25.0     8.19       8.0  ...     37.47      36.0     145.0     72.38

[1 rows x 9 columns]

In [7]:
-- Basic summary statistics for Int students
SELECT 
	MIN(todep) AS min_phq,
	MAX(todep) AS max_phq,
	ROUND(AVG(todep), 2) AS avg_phq,
	MIN(tosc) AS min_tosc,
	MAX(tosc) AS max_tosc,
	ROUND(AVG(tosc), 2) AS avg_tosc,
	MIN(toas) AS min_toas,
	MAX(toas) AS max_toas,
	ROUND(AVG(toas), 2) AS avg_toas,
FROM students
WHERE inter_dom IN ('Inter', 'Dom')
GROUP BY inter_dom;

   min_phq  max_phq  avg_phq  min_tosc  ...  avg_tosc  min_toas  max_toas  avg_toas
0      0.0     25.0     8.04      11.0  ...     37.42      36.0     145.0     75.56
1      0.0     23.0     8.61       8.0  ...     37.64      36.0     112.0     62.84

[2 rows x 9 columns]

In [8]:
-- The average scores for each age group of Int students
SELECT 
	age,
	ROUND(AVG(todep), 2) AS avg_phq,
	ROUND(AVG(tosc), 2) AS avg_tosc,
	ROUND(AVG(toas), 2) AS avg_toas
FROM students
WHERE inter_dom ='Inter'
GROUP BY age 
ORDER BY age;

     age  avg_phq  avg_tosc  avg_toas
0   17.0     4.67     37.33     70.67
1   18.0     8.75     34.11     80.61
2   19.0     8.44     37.90     74.10
3   20.0     7.35     38.21     73.26
4   21.0     9.23     37.74     75.23
5   22.0     8.36     38.14     70.43
6   23.0     9.67     32.00     81.25
7   24.0     4.67     42.33     74.33
8   25.0     6.11     37.33     80.78
9   27.0    10.00     35.00     42.00
10  28.0     3.33     39.00     71.00
11  29.0     3.75     43.00     63.50
12  30.0     9.33     41.00     97.33
13  31.0     5.75     43.50     80.25

In [9]:
-- Average scores by length of stay for Int students
SELECT 
	stay,
	ROUND(AVG(todep), 2) AS average_phq,
	ROUND(AVG(tosc), 2) AS average_scs,
	ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE stay IS NOT NULL AND inter_dom = 'Inter'
GROUP BY stay 
ORDER BY stay DESC;

   stay  average_phq  average_scs  average_as
0  10.0        13.00        32.00       50.00
1   8.0        10.00        44.00       65.00
2   7.0         4.00        48.00       45.00
3   6.0         6.00        38.00       58.67
4   5.0         0.00        34.00       91.00
5   4.0         8.57        33.93       87.71
6   3.0         9.09        37.13       78.00
7   2.0         8.28        37.08       77.67
8   1.0         7.48        38.11       72.80

## Conclusion
It can be inferred that international students with longer durations of stay tend to exhibit higher average depression test scores and comparatively lower scores in social connectedness. 
However, they experience lower levels of acculturative stress, which are more commonly observed in students with shorter stays. 
This observation may indicate that students who have not been away from home for an extended period might encounter culture shock and feelings of homesickness.